.bar{background-color: #1C58B0;
  top: 0px;
  left: 0px;
  width: 1000px;
 }



.mat-toolbar.mat-primary {
  position: sticky;


}

.mainc{position: absolute;
  
  width: 1478px;
  height: 50px;
  left: 50px;
  
  top: 0px;
background-color:#1C58B0;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 20px;}





.link1{
  width: 50px;
  left: 50px;
  top: -10px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;




  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  
  color: #FFFFFF;
  }
  .link1:hover{width: 80px;}
  .link2:hover{width: 140px;}
  .link3:hover{width: 120;}

  .link3{
    width: 50px;
    left: 150px;
    top: -10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
  
  
  
  
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;
    
    color: #FFFFFF;
    }
.link2{
width: 122px;
height: 13px;
left: 100px;
top: -10px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;




align-items: center;
text-align: center;
letter-spacing: 1.25px;
text-transform: uppercase;

color: #FFFFFF;
}
.example-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  

  width: 700px;
  height: 30px;
  left: 10px;
  top: -5px;
  
  background: #FFFFFF;
  
  position:relative;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

.example-full-width {
  width: 100%;
}
.btn{
  left: 1100px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;

position: absolute;
width: 103px;
height: 57px;
left: 1350px;
top: -9px;
color: white;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 36px;


background: #FCC02E;
border-radius: 50px;
}
.txt{color: black;}
.b{background: #FCC02E;}
.logo{
  height: 100px;
  width: 100px;
  font-size: 100px;
  color: #FCC02E;
  margin-top: 10px;
}
.c1{display: flex
  ;}